<!DOCTYPE html>
<html>
<head>
    <title>Trang cá nhân</title>>
    <link rel="stylesheet" type ="text/css" href = "/css/web.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type ="text/javascript" src = "/web.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <h3>Hệ Thống Thông tin Sinh Viên</h3>
    </header>
    <div class = "header">
        <div class = "logo"><img src = '/image/logo.png' style = "width : 50px;" /></div>
        <div class = "menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/student/home"  title="TRANG CHỦ">TRANG CHỦ</a></li>
                <li><a href="/student/timetable"  title="THỜI KHOA BIỂU">THỜI KHOA BIỂU</a></li>
                <li><a href="/student/grade"  title="KẾT QUẢ HỌC TẬP">KẾT QUẢ HỌC TẬP</a></li>
                <li><a href="/student/roadmap"  title="CHƯƠNG TRINH HỌC">CHƯƠNG TRINH HỌC</a></li>
                <li><a href="/logout"  title="ĐĂNG XUẤT"><b>ĐĂNG XUẤT</b></a></li>
        </div>
        <div class = "other"><span><a href="/student/studentprofile"> <%=username%> </a></span><i class="glyphicon glyphicon-user"></i></div>
    </div>
    <div style="display: flex; margin:20px 0 0 50px; ">
        <span><h4>Thông tin sinh viên</h4> <hr></span>
    </div>
    <div class="info-stu" style="margin: 10px 0 20px 50px;;">
        <!-- <div><img src="/image/Trang.jpg" style="width: 250px;"></div> -->
        <div>
            <!-- <span>Thông Tin Sinh Viên</span>
            <div><br><hr></div> -->
            <span><strong>Họ và tên&emsp;: </strong><%= data.recordset[0].name %><br/>
            <strong>Mã số sinh viên&emsp;: </strong><%= data.recordset[0].studentID %><br/>
            <strong>Chương trình&emsp;: </strong><%= data.recordset[0].programID %><br/>
            <!-- <strong>Khoa/Viện quản lý&emsp;: </strong>Viện Công nghệ Thông tin và Truyền thông<br/> -->
            <strong>Tình trạng học tập&emsp;: <% if(data.recordset[0].status){ %> </strong> HỌC <% }else{ %> </strong> KHÔNG HỌC <% } %> </span> 
        </div>
        <div>
            <span><strong>Giới tính&emsp;:  <% if(data.recordset[0].gender){ %> </strong> Nam <% }else{ %> </strong> Nữ <% } %> <br/>
            <strong>SĐT&emsp;: </strong><%= data.recordset[0].phonenumber %><br/>
            <strong>Khóa học&emsp;: </strong><%= data.recordset[0].enteryear - 1955 %><br/>
            <strong>Email&emsp;: </strong><%= data.recordset[0].email %><br/></span>
        </div>
    </div>

    <footer></br>HUST &copy; @author_PhanTrang</footer>
</body>
</html>